$container-width: 1260px;
$container-padding: 15px;

$breakpoint-laptop: 1439px;
$breakpoint-tablet: 1220px;
$breakpoint-mobile: 820px;

:root {
	--container-width: #{$container-width};
	--container-padding: #{$container-padding};

	--font-main: 'Manrope', sans-serif;
	--font-accent: 'Manrope', sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #ffffff;
	--text-color: #121212;
	--accent: #ac182c;
	--link-color: #2578c8;
	--border-color: #e5e7eb;

	--laptop-size: #{$breakpoint-laptop};
	--tablet-size: #{$breakpoint-tablet};
	--mobile-size: #{$breakpoint-mobile};
}

.dark {
	--page-bg: #252526;
	--text-color: #ffffff;
	--border-color: #3f3f46;
}
